body {
    margin: 0px;
    padding: 0px;
}

#menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    
    align-content: space-around;
    justify-content: space-around;
}

.card {
    display: flex;
    width: 200px;
    height: 300px;
    flex-direction: column;
    border: 3px solid blue;
    margin: 20px;
    padding: 20px;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;


}